@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #f2f2f2;
  --secondary-color: #2b6777;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --slate: #8892b0;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}